---
layout: page
title: Publications
description: Our publications
sitemap:
    priority: 0.7
    lastmod: 2017-11-02
    changefreq: weekly
---
<header class="major">
	<h1>Publications</h1>
</header>

 {% for post in site.posts %}
    {% if post.category == "publication" %}
    <article>
    <header>
       <!-- <span class="date">{{ post.date | date_to_string }}</span> -->
       <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
       </header>
       <!-- <a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a> -->
       <p>{{ post.authors }}, <i> {{post.journal}} </i>, (<b> {{post.date | date_to_string}} </b>) </p>
       <ul class="actions">
        <center>
       <li><a href="{{ post.url | absolute_url }}" class="button">Read More</a></li>
        </center>
       </ul>
       </article>
        {% endif %}
    {% endfor %}
