---
layout: default
---

	{% if page.categories %}
	{% assign category = page.categories[0] %}
	{% assign posts = site.categories[category] %}
	{% for post in posts %}
	{% if post.url == page.url %}
	{% assign post_index0 = forloop.index0 %}
	{% assign post_index1 = forloop.index %}
	{% endif %}
	{% endfor %}
	{% for post in posts %}
	{% if post_index0 == forloop.index %}
	{% assign next_post = post %}
	{% endif %}
	{% if post_index1 == forloop.index0 %}
	{% assign prev_post = post %}
	{% endif %}
	{% endfor %}
	{% endif %}

<div class="wrapper style2">
    <article class="container">
        <header class="major">
	  <div style="height: 5em;">
	  {% if prev_post %}
            <a href="{{site.baseurl}}{{ prev_post.url }}" class="float-left">&larr; Previous publication</a> {% endif %}
            {% if next_post %}
            <a href="{{site.baseurl}}{{ next_post.url }}" class="float-right">Next publication &rarr;</a> {% endif %}
	    </div>
	    
	    <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">{{ page.authors }}. <i>{{ page.journal }}</i> ({{ page.year }})</p>
        </header>
        <section class="post-content">
	  <div>
	  <a href="{{page.link}}"><img class="displayed" src="{{site.baseurl}}{{page.image}}" alt="" /></a>
	  </div>	
          {{ content }}
	  [<a href="{{page.link}}">Full text</a>]
        </section>

	
    </article>

</div>
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
